@import url('https://fonts.googleapis.com/css2?family=Spline+Sans+Mono:ital,wght@0,400;0,500;1,400&display=swap');

body {
  font-family: 'Spline Sans Mono', monospace;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Spline Sans Regular', monospace;
}

p {
  text-align: justify;
}
